<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Micha's Coffee Shop</title>
    <style>
        body{
            background-color: #DBC2AD;
            display: flex;
            justify-content: center;
            overflow-x: hidden;
        }
        .main-container{
            padding: 0;
            margin: 8rem;
            height: 50rem;
            width: 65rem;
            background-color: #b9b9b9;
            display: flex;
            flex-direction: row;
        }
        .main-container > .sub-container:first-child{
            width: 60%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main-container > .sub-container:first-child > h2{
            color: #A18167;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2rem;
            font-weight: 700;
            padding: 0;
            margin: 0;
            margin-bottom: 2rem;
        }
        .main-container > .sub-container:last-child{
            width: 40%;
            height: 100%;
            background-color: #A18167;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main-container > .sub-container:last-child > h2{
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 3rem;
            font-weight: 700;
            padding: 0;
            margin: 0;
        }
        .main-container > .sub-container:last-child > span{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
            color: #ffffff;
            padding: 0;
            margin-top: 1rem;
            font-weight: 700;
            text-align: center;
        }
        .main-container > .sub-container:last-child > span:last-child{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8rem;
            color: #ffffff;
            padding: 0;
            margin-top: 1rem;
        }
        .main-container > .sub-container:last-child > span:last-child > a{
            font-size: 0.8rem;
            color: #f8dfcb;
            padding-left: 0.5rem;
            text-decoration: none;
        }
        .main-container > .sub-container:first-child > form{
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
        }
        .main-container > .sub-container:first-child > form > label{
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0.5rem;
            color: #A18167;
        }
        .main-container > .sub-container:first-child > form > input{
            height: 2.5rem;
            width: 20rem;
            border-radius: 0.5rem;
            padding: 0.1rem;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 0.5rem;
            font-size: 1rem;
            border: 0.1rem #A18167 solid;
        }
        #email, #username, #password, #mobileNumber, select{
            margin-bottom: 1.5rem;
        }
        #submit{
            margin-top: 1rem;
            width: 20rem;
            height: 3.5rem;
            border-radius: 0.5rem;
            border: none;
            background-color: #A18167;
            cursor: pointer;
            color: #ffffff;
            font-size: 1rem;
            font-weight: 600;
        }
        #mobileNumber{
            height: 2.5rem;
            width: 20rem;
            border-radius: 0.5rem;
            padding: 0.1rem;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 0.5rem;
            font-size: 1rem;
            border: 0.1rem #A18167 solid;
            margin-right: 1rem;
        }
        .main-container > .sub-container:first-child > form > div{
            display: flex;
            flex-direction: row;
        }
        .main-container > .sub-container:first-child > form > div > div > select{
            height: 2.9rem;
            width: 9rem;
            border-radius: 0.5rem;
            padding: 0.1rem;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 0.5rem;
            font-size: 1rem;
            border: 0.1rem #A18167 solid;
        }
        input:focus, select:focus{
            border: none;
            outline: #A18167 1px solid;
        }
        .main-container > .sub-container:first-child > form > div > .user-type > label, .main-container > .sub-container:first-child > form > div > div > label{
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0.5rem;
            color: #A18167;
        }
        .main-container > .sub-container:first-child > form > div > .user-type, .main-container > .sub-container:first-child > form > div > div{
            display: flex;
            flex-direction: column;
        }
        .main-container > .sub-container:first-child > form > div > .user-type{
            margin-left: 1rem;
        }
        .main-container > .sub-container:first-child > form > div > .user-type > select{
            height: 2.9rem;
            width: 10rem;
            border-radius: 0.5rem;
            padding: 0.1rem;
            font-family: Arial, Helvetica, sans-serif;
            text-indent: 0.5rem;
            font-size: 1rem;
            border: 0.1rem #A18167 solid;
        }
        
    </style>
</head>
<body>
    <div class="main-container">
        <div class="sub-container">
            <h2>Create an Account</h2>
            <form action="/register" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" required id="email">
                <label for="username">Username</label>
                <input type="text" name="username" required id="username">
                <label for="password">Password</label>
                <input type="password" name="password" required id="password">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" name="mobileNumber" required id="mobileNumber">  
                <div>
                    <div>
                        <label for="country">Country</label>
                        <select name="country">
                            <option selected disabled hidden>Select Country</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Canada">Canada</option>
                            <option value="Australia">Australia</option>
                        </select>
                    </div>
                    <div class="user-type">
                        <label for="userType">User Type</label>
                        <select name="userType">
                            <option selected disabled hidden>Select user type</option>
                            <option value="Admin">Admin</option>
                            <option value="Student">Student</option>
                        </select>
                    </div>
                </div>
                <% if (message) { %>
                    <p style="
                    border-radius: 0.5rem;
                    width: 18rem;
                    padding: 1rem 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1rem;
                    background-color: #ffc6c6;
                    color: #7a3636;
                    text-align: center;
                    margin: 0;"><%= message %></p>
                  <% } %> 
                <input type="submit" value="Sign up" id="submit">
            </form>
        </div>
        <div class="sub-container">
            <h2>Sign up</h2>
            <span>to drink coffee non-stop everyday.</span>
            <span>Already have an account?<a href="/login">Login</a></span>
        </div>
    </div>
</body>
</html>